.header {
    border-bottom: 1px solid #ECECEC;
}
.header-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.top-logo {
    color: #000000;
}
.bottom-logo {
    color: var(--primary-white-color);
}
.nav__list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.current {
    color: var(--accent-color);
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}
.contacts__header {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}